# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/

# Build
build/
*.spec
build_log.txt
bootstrap_debug.log

# Local Config
launcher_config.ini

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
Thumbs.db
Desktop.ini
